---
import BaseLayout from "../../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
import Card from "../../components/Card.astro";

const posts = await getCollection("blog");

const tags = [...new Set(posts.map((post: any) => post.data.tags).flat())];
---

<BaseLayout>
  <main class="flex flex-col gap-4">
    <section class="flex gap-2 flex-wrap items-center">
      {
        tags.map((tag: string) => (
          <li class="list-none">
            <a
              class="border border-black border-1 px-4 py-2 hover:bg-black text-white transition-all ease-in-out duration-200"
              href={`/blog/tags/${tags}`}
            >
              {tag}
            </a>
          </li>
        ))
      }
    </section>
    {
      posts.map((post) => (
        <li class="list-none">
        <Card
          url={`/blog/${post.slug}/`}
          image={post.data.heroImage}
          title={post.data.title}
          description={post.data.description}
          />
      </li>
    ))
  }
  </main>
</BaseLayout>
