---
import Card from "../components/Card.astro";
import { getCollection } from "astro:content";
import Contact from "../components/Contact.astro";

import BaseLayout from "../layouts/BaseLayout.astro";

const posts = (await getCollection("blog"))
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
  .slice(0, 2);
---

<BaseLayout>

    <section
      class="flex flex-col sm:m-auto justify-center items-left gap-32 py-20"
    >
      <div class="flex flex-col gap-5">
        <h2 class="text-2xl w-full text-left text-gray-700">I'm Elie !</h2>
        <h1 class="anim text-6xl text-gray-700">
          Concevoir des
          <span class="italic text-green-900">interfaces digitales</span>
          centrées sur le visuel.
        </h1>
      </div>
      <div class="w-full flex justify-center items-center">
        <button class="px-12 py-2 bg-gray-700 text-white rounded-md">
          Échanger avec moi !
        </button>
      </div>
    </section>
    <ul>
      {
        posts.map((post) => (
          <li>
            <Card
              url={`/blog/${post.slug}/`}
              image={post.data.heroImage}
              title={post.data.title}
              description={post.data.description}
              logiciel={post.data.logiciel}
            />
          </li>
        ))
      }
    </ul>
    <Contact />
    
</BaseLayout>


