---
import BaseLayout from "../../../layouts/BaseLayout.astro";
import Card from "../../../components/Card.astro";
import { getCollection } from "astro:content";

export async function getStaticPaths() {

  const allPosts = await getCollection('blog')
  const uniqueTags = [
    ...new Set(allPosts.map((post: any) => post.data.tags).flat()),
  ];

  return uniqueTags.map((tag: string) => {
    const filteredPosts = allPosts.filter((post: any) =>
      post.data.tags.includes(tag)
    );
    return {
      params: { tag },
      props: { posts: filteredPosts },
    };
  });
  
}
  const { posts } = Astro.props;
  
  const allPosts = await getCollection("blog");
  
  const tags = [...new Set(allPosts.map((post: any) => post.data.tags).flat())];
---

<BaseLayout>
  <main class="flex flex-col">
    <section class="flex flex-wrap gap-2 items-center">
        {
          tags.map((tag: string) => (
      <li class="list-none">
            <a class="border border-black border-1 px-4 py-2 hover:bg-black text-white transition-all ease-in-out duration-200" href={`/blog/tags/${tag}`}>
              {tag}
            </a>
      </li>

          ))
        }
      </li>
      </section>

      {
        posts.map((post) => (
          <li class="list-none">
            {/* <pre><code>
              {
                JSON.stringify(post, null, 2)
              }
              </code></pre> */}
            <Card
              url={`/blog/${post.slug}/`}
              image={post.data.heroImage}
              title={post.data.title}
              description={post.data.description}
            />
          </li>
        ))
      }
  </main>
</BaseLayout>
